# Define text file
*.css          text eol=lf
*.csv          text eol=lf
*.df           text eol=lf
*.dist         text eol=lf
*.feature      text eol=lf
*.htm          text eol=lf
*.html         text eol=lf
*.java         text eol=lf
*.js           text eol=lf
*.json         text eol=lf
*.jsp          text eol=lf
*.jspf         text eol=lf
*.jspx         text eol=lf
*.less         text eol=lf
*.lock         text eol=lf
*.map          text eol=lf
*.md           text eol=lf
*.php          text eol=lf
*.po           text eol=lf
*.properties   text eol=lf
*.script       text eol=lf
*.scss         text eol=lf
*.sh           text eol=lf
*.sql          text eol=lf
*.svg          text eol=lf
*.tag          text eol=lf
*.tagx         text eol=lf
*.tld          text eol=lf
*.ts           text eol=lf
*.tw           text eol=lf
*.txt          text eol=lf
*.xml          text eol=lf
*.xsd          text eol=lf
*.yml          text eol=lf
.editorconfig  text eol=lf
.env.*         text eol=lf
.gitattributes text eol=lf
.gitignore     text eol=lf
.htaccess      text eol=lf

# Define binary file attributes.
# - Do not treat them as text.
# - Include binary diff in patches instead of "binary files differ."
*.class   -text -diff
*.dll     -text -diff
*.ear     -text -diff
*.eot     -text -diff
*.exe     -text -diff
*.gif     -text -diff
*.gz      -text -diff
*.ico     -text -diff
*.jar     -text -diff
*.jpeg    -text -diff
*.jpg     -text -diff
*.jpg     -text -diff
*.pdf     -text -diff
*.phar    -text -diff
*.png     -text -diff
*.so      -text -diff
*.svgz    -text -diff
*.ttf     -text -diff
*.war     -text -diff
*.woff    -text -diff
*.woff2   -text -diff

*.CLASS   -text -diff
*.DLL     -text -diff
*.EAR     -text -diff
*.EOT     -text -diff
*.EXE     -text -diff
*.GIF     -text -diff
*.GZ      -text -diff
*.ICO     -text -diff
*.JAR     -text -diff
*.JPEG    -text -diff
*.JPG     -text -diff
*.JPG     -text -diff
*.PDF     -text -diff
*.PHAR    -text -diff
*.PNG     -text -diff
*.SO      -text -diff
*.SVGZ    -text -diff
*.TTF     -text -diff
*.WAR     -text -diff
*.WOFF    -text -diff
*.WOFF2   -text -diff
